:root {
  --shadow-header: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  --background-heroHome: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
  --background-header: linear-gradient(to right, #450b7c, #563cc9);
  --kuningCerah: rgb(255, 160, 17);
  --hero: #111827;
  --hitam-santai: #302f2f;
  --putih: #fff;
  --putih-f2: #f2f2f2;
  --putih-900: #F2F4F7;
  --ungu: #963EFF;
  --kuning: #FCE354;
  --biru-cerah: #1352FF;
  --border: 2px solid #e4e4e7;
  /* btn */
  --danger: #dc3545;
  --primary: #007bff;
  --warning: #ffc107;
  --dark: #5b5b5c;
  --border-table: 1px solid #dee2e6;
  --table-dark: #343a40;
  --tr: rgba(0, 0, 0, 0.05);
  --outline-input: #0176f4bd;
  --outline-button: #63aeffbd;
  --outline-warning: #ffe601f1;
  --outline-white: rgb(207, 207, 207);
  --outline-dark: #717172;
  --tw-gradient-to: #06b6d4;
  --tw-gradient-from: #0d6efd;
  --tw-gradient-stops: #0d6efd,
        #22d3ee,
        #06b6d4;
}

#scroll-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 1000;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: 3s;
  transition: 3s;
  cursor: pointer;
}

#scroll-top img {
  width: 4rem;
  /* animation: float 3s linear infinite; */
}

#scroll-top.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 3s;
  transition: 3s;
}

#scroll-top.show img {
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

header.scroll {
  -webkit-box-shadow: var(--shadow-header);
          box-shadow: var(--shadow-header);
}

header {
  width: 100%;
  min-height: 10vh;
  max-height: 100%;
  padding: 0 100px;
  -webkit-transition: .5s;
  transition: .5s;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--hero);
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .kanan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .kanan .logo {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .kanan .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

header .container .kanan .logo h1 {
  font-size: 1.4rem;
  line-height: 22px;
  color: var(--putih);
  font-weight: 700;
}

header .container .kanan .logo h1 span {
  background: -webkit-gradient(linear, left top, right top, from(var(--tw-gradient-stops)));
  background: linear-gradient(to right, var(--tw-gradient-stops));
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .container .kanan nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .kanan nav ul li {
  margin: 0 10px;
}

header .container .kanan nav ul li a {
  font-weight: 500;
  color: var(--putih);
}

header .container .kiri {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .kiri .icon {
  margin-right: 10px;
  color: var(--putih);
}

header .container .kiri .garis {
  margin: 0 10px;
  font-size: 1.4rem;
  color: var(--putih);
}

header .container .kiri .auth a {
  margin: 0 10px;
  color: var(--putih);
}

header .container .kiri .profil {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

header .container .kiri .profil img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .container .kiri .menu {
  width: 30px;
  height: 20px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: pointer;
}

header .container .kiri .menu input {
  width: 100%;
  height: 130%;
  position: absolute;
  top: -3px;
  opacity: 0;
}

header .container .kiri .menu span {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--putih);
}

.containerNavMobile {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: rgba(0, 0, 0, 0.1);
}

.containerNavMobile .navMobile {
  width: 40%;
  background-color: var(--putih);
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.bg-gradient-to-r {
  background: -webkit-gradient(linear, left top, right top, from(var(--tw-gradient-stops))) !important;
  background: linear-gradient(to right, var(--tw-gradient-stops)) !important;
  color: var(--putih);
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: var(--hero);
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container .caption {
  width: 60%;
}

.hero .container .caption h1 {
  font-size: 3rem;
  line-height: 60px;
  color: var(--putih);
  margin-bottom: 20px;
}

.hero .container .caption h1 span {
  background: -webkit-gradient(linear, left top, right top, from(var(--tw-gradient-stops)));
  background: linear-gradient(to right, var(--tw-gradient-stops));
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .container .caption p {
  font-size: 1.2rem;
  color: var(--putih);
  margin: 20px 0;
}

.hero .container .img {
  width: 40%;
}

.hero .container .img img {
  width: 100%;
  height: 100%;
}

.series {
  width: 100%;
  height: 100%;
}

.series .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.series .container .perSeries {
  width: calc(90%/3);
  margin: 30px 10px;
}

.series .container .perSeries img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  background-color: var(--putih-900);
}

.series .container .perSeries p {
  font-size: .9rem;
}

.series .container .perSeries h2 {
  font-size: 1rem;
}

.containerTopik {
  width: 100%;
  height: 100%;
}

.containerTopik .container .title {
  text-align: center;
}

.containerTopik .container .title h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.containerTopik .container .title p {
  font-size: 1.2rem;
  line-height: 30px;
}

.containerTopik .container .topik {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.containerTopik .container .topik .perTopik {
  padding: 7px 20px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  background-color: var(--putih);
}

.containerTopik .container .topik .perTopik span {
  width: 30px;
  height: 30px;
  font-size: .9rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  background-color: var(--putih-f2);
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 0 25px;
  }
}

@media (max-width: 900px) {
  header .container .kanan .logo h1 {
    font-size: 1.2rem;
  }
  header .container .kanan nav {
    display: none;
  }
  header .container .kiri .icon {
    margin-right: 20px;
    font-size: 1.3rem;
  }
  header .container .kiri .profil {
    margin-left: 0;
    margin-right: 20px;
  }
  header .container .kiri .garis {
    display: none;
  }
  header .container .kiri .auth {
    display: none;
  }
  header .container .kiri .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .containerNavMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  header {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  header .container .kanan .logo img {
    width: 35px;
    height: 35px;
  }
  header .container .kanan .logo h1 {
    font-size: 1.1rem;
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  header .container .kanan .logo img {
    display: none;
  }
  header .container .kiri .icon,
  header .container .kiri .profil {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */