:root {
  --shadow-header: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  --background-heroHome: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
  --background-header: linear-gradient(to right, #450b7c, #563cc9);
  --kuningCerah: rgb(255, 160, 17);
  --hero: #111827;
  --hitam-santai: #302f2f;
  --putih: #fff;
  --putih-f2: #f2f2f2;
  --putih-900: #F2F4F7;
  --ungu: #963EFF;
  --kuning: #FCE354;
  --biru-cerah: #1352FF;
  --border: 2px solid #e4e4e7;
  /* btn */
  --danger: #dc3545;
  --primary: #007bff;
  --warning: #ffc107;
  --dark: #5b5b5c;
  --border-table: 1px solid #dee2e6;
  --table-dark: #343a40;
  --tr: rgba(0, 0, 0, 0.05);
  --outline-input: #0176f4bd;
  --outline-button: #63aeffbd;
  --outline-warning: #ffe601f1;
  --outline-white: rgb(207, 207, 207);
  --outline-dark: #717172;
  --tw-gradient-to: #06b6d4;
  --tw-gradient-from: #0d6efd;
  --tw-gradient-stops: #0d6efd,
        #22d3ee,
        #06b6d4;
}

#scroll-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 1000;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: 3s;
  transition: 3s;
  cursor: pointer;
}

#scroll-top img {
  width: 4rem;
  /* animation: float 3s linear infinite; */
}

#scroll-top.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 3s;
  transition: 3s;
}

#scroll-top.show img {
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.searchBox form {
  margin-bottom: 20px;
}

.searchBox form .form-group .input-group button {
  width: 20%;
}

.searchBox .suggesti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.searchBox .suggesti .perSuggesti {
  padding: 5px;
}

header.scroll {
  -webkit-box-shadow: var(--shadow-header);
          box-shadow: var(--shadow-header);
}

header {
  width: 100%;
  min-height: 10vh;
  max-height: 100%;
  padding: 0 100px;
  -webkit-transition: .5s;
  transition: .5s;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--hero);
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .kanan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .kanan .logo {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .kanan .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

header .container .kanan .logo h1 {
  font-size: 1.4rem;
  line-height: 22px;
  color: var(--putih);
  font-weight: 700;
}

header .container .kanan .logo h1 span {
  background: -webkit-gradient(linear, left top, right top, from(var(--tw-gradient-stops)));
  background: linear-gradient(to right, var(--tw-gradient-stops));
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .container .kanan nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .kanan nav ul li {
  margin: 0 10px;
}

header .container .kanan nav ul li a {
  font-weight: 500;
  color: var(--putih);
}

header .container .kiri {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .kiri .icon {
  margin-right: 10px;
  color: var(--putih);
  cursor: pointer;
}

header .container .kiri .garis {
  margin: 0 10px;
  font-size: 1.4rem;
  color: var(--putih);
}

header .container .kiri .auth a {
  margin: 0 10px;
  color: var(--putih);
}

header .container .kiri .profil {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

header .container .kiri .profil img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .container .kiri .menu {
  width: 30px;
  height: 20px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: pointer;
}

header .container .kiri .menu input {
  width: 100%;
  height: 130%;
  position: absolute;
  top: -3px;
  opacity: 0;
}

header .container .kiri .menu span {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--putih);
}

.containerNavMobile {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: rgba(0, 0, 0, 0.1);
}

.containerNavMobile .navMobile {
  width: 40%;
  background-color: var(--putih);
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.bg-gradient-to-r {
  background: -webkit-gradient(linear, left top, right top, from(var(--tw-gradient-stops))) !important;
  background: linear-gradient(to right, var(--tw-gradient-stops)) !important;
  color: var(--putih);
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: var(--hero);
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container .caption {
  width: 60%;
}

.hero .container .caption h1 {
  font-size: 3rem;
  line-height: 60px;
  color: var(--putih);
  margin-bottom: 20px;
}

.hero .container .caption h1 span {
  background: -webkit-gradient(linear, left top, right top, from(var(--tw-gradient-stops)));
  background: linear-gradient(to right, var(--tw-gradient-stops));
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .container .caption p {
  font-size: 1.2rem;
  color: var(--putih);
  margin: 20px 0;
}

.hero .container .img {
  width: 40%;
}

.hero .container .img img {
  width: 100%;
  height: 100%;
}

.series {
  width: 100%;
  height: 100%;
}

.series .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.series .container .perSeries {
  width: calc(90%/3);
  margin: 30px 10px;
}

.series .container .perSeries img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  background-color: var(--putih-900);
}

.series .container .perSeries p {
  font-size: .9rem;
}

.series .container .perSeries h2 {
  font-size: 1rem;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.title p {
  font-size: 1.2rem;
  line-height: 30px;
}

.containerTopik {
  width: 100%;
  height: 100%;
}

.containerTopik .container .topik {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.containerTopik .container .topik .perTopik {
  padding: 7px 20px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  background-color: var(--putih);
}

.containerTopik .container .topik .perTopik span {
  padding: 10px;
  font-size: .9rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  background-color: var(--putih-f2);
}

.search {
  width: 100%;
  height: 100%;
  background-color: var(--putih-f2);
}

.search .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search .container h1 {
  font-size: 2rem;
  font-weight: 500;
}

.search .container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.search .container .searchAlert {
  font-size: .9rem;
}

.search .container form .form-group {
  width: 700px;
}

.search .container form .form-group button {
  width: 20%;
}

.containerSosmed {
  width: 100%;
  height: 100%;
}

.containerSosmed .container .sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.containerSosmed .container .sosmed .perSosmed {
  width: calc(90%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.containerSosmed .container .sosmed .perSosmed p {
  font-size: .9rem;
  margin-top: 10px;
}

.containerSosmed .container .sosmed .perSosmed .icon {
  padding: 10px;
  font-size: 1.3rem;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--putih-f2);
}

.containerClient {
  width: 100%;
  border-top-left-radius: 100px;
  background-color: var(--biru-cerah);
}

.containerClient .clientTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerClient .clientTitle h2 {
  font-size: 2rem;
  margin-right: 100px;
  color: var(--putih);
}

.containerClient .clientTitle p {
  max-width: 630px;
  font-size: 1.4rem;
  color: var(--putih);
}

.containerKerjasama {
  width: 100%;
  padding: 0;
  background-color: var(--biru-cerah);
}

.containerKerjasama .container {
  width: 95%;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--hero);
  border-top-right-radius: 100px;
}

.containerKerjasama .container .caption {
  width: 45%;
}

.containerKerjasama .container .caption h2 {
  color: var(--putih);
  letter-spacing: .5px;
  line-height: 50px;
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.containerKerjasama .container .caption p {
  color: var(--putih);
  font-size: 1.2rem;
  letter-spacing: .5px;
  line-height: 27px;
}

/* footer start */
.footer {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: var(--biru-cerah);
  /* box-shadow: .5rem 0 1rem rgba(0, 0, 0, 0.1); */
}

.footer .container {
  width: 95%;
  padding: 0 100px;
  padding-bottom: 100px;
  background-color: var(--hero);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  margin: 1rem;
}

.footer .box .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .box .logo img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.footer .box h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  color: var(--putih);
}

.footer .box p {
  font-size: 1rem;
  padding: .5rem 0;
  line-height: 25px;
  margin-bottom: 30px;
  color: var(--putih);
}

.footer .box .sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .box .sosmed .perSosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 1.5rem;
  margin: 0 10px;
  border-radius: 50%;
  background: #ffa011;
}

.footer .box .sosmed .perSosmed:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.footer .box a {
  font-size: 1rem;
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--putih);
}

.footer .box a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 8vh;
  background-color: var(--biru-cerah);
  color: var(--putih);
}

footer .container {
  width: 95%;
  padding-left: 100px;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background-color: var(--hero);
}

/* footer end */
@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 0 25px;
  }
}

@media (max-width: 900px) {
  header .container .kanan .logo h1 {
    font-size: 1.2rem;
  }
  header .container .kanan nav {
    display: none;
  }
  header .container .kiri .icon {
    margin-right: 20px;
    font-size: 1.3rem;
  }
  header .container .kiri .profil {
    margin-left: 0;
    margin-right: 20px;
  }
  header .container .kiri .garis {
    display: none;
  }
  header .container .kiri .auth {
    display: none;
  }
  header .container .kiri .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .containerNavMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  header {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  header .container .kanan .logo img {
    width: 35px;
    height: 35px;
  }
  header .container .kanan .logo h1 {
    font-size: 1.1rem;
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  header .container .kanan .logo img {
    display: none;
  }
  header .container .kiri .icon,
  header .container .kiri .profil {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */